body{
    background-color:#93b8da;
    margin: 0px;
    text-align : center;    
}

h1{
    color: #2763a2;
    margin: 50px auto 0 auto;
    font-size: 'Yellowtail', cursive;
    font-family: 5.625rem;
    line-height: 2;
}

h2{
    color: #5588bb;
    margin: 50px auto 0 auto;
    font-family: '';
}

.contenedor-top{
    background-color: rgb(197, 224, 207);
    position: relative;
    padding-top: 0;
        
}

.contenedor-med{
 
    
}
.contenedor-bottom{
     
}

.nube-alta{
    position: absolute;
    right: 300px;
    top : 50px;
}

.nube-baja{
    position: absolute;
    left: 300px;
    top : 150px;
}